PORT=3003

NATS_SERVERS=nats://nats-server:4222

# https://dashboard.stripe.com/acct_1TLUArIgZOij5vxA/test/apikeys
STRIPE_SECRET=sk_test_51TLUArIgZOij5vxAAAEot9YwAEMg7vEWgfaSVd8yq9690TAbyfPpyuXKszXyVmiLRweKr5rZHAy4oBHVA1OlDfwY00BkFr06XP

STRIPE_SUCCESS_URL=http://nodedev:3003/api/payments/success
STRIPE_CANCEL_URL=http://nodedev:3003/api/payments/cancel

# Para testing: recuerda que al levantarlo con
# docker run --rm -it -v ~/.config/stripe:/root/.config/stripe stripe/stripe-cli:latest listen --forward-to http://172.17.0.1:3003/api/payments/webhook
# Obtienes este endpoingSecret
# Para prod, cuando añades un webhook en stripe, te da el Signing secret (que no es el STRIPE_SECRET)
STRIPE_ENDPOINT_SECRET=whsec_fccadb4c824ec53a30b644de4c00bc387995f692786d131c6b46600585f003c5