PORT=3003

NATS_SERVERS=nats://nats-server:4222

# https://dashboard.stripe.com/acct_1TLUArIgZOij5vxA/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://nodedev:3003/api/payments/success
STRIPE_CANCEL_URL=http://nodedev:3003/api/payments/cancel

# Para testing: recuerda que al levantarlo con
# docker run --rm -it -v ~/.config/stripe:/root/.config/stripe stripe/stripe-cli:latest listen --forward-to http://172.17.0.1:3003/api/payments/webhook
# Obtienes este endpoingSecret
# Para prod, cuando añades un webhook en stripe, te da el Signing secret (que no es el STRIPE_SECRET)
STRIPE_ENDPOINT_SECRET=